<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<h1>Create new user</h1>
<a href="/">Back</a>

<form th:method="POST" th:action="@{/add}" th:object="${user}">
    <label for="firstName">First name: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br>
    <label for="lastName">Last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br>
    <label for="email">E-mail: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>
    <br>
    <a href="/add"></a>
</form>

</body>
</html>