<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new User</title>
</head>
<body>
<h1>Create new user</h1>


<form th:method="POST" th:action="@{/add}" th:object="${User}">
    <label for="firstName">First name </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br>
    <label for="lastName">Last name </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br>
    <label for="email">E-mail </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>
    <button type="submit">Ok</button>
</form>
<br>
<a href="/">Back</a>
</body>
</html>